<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workers Monitor</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="app">
        <h1>gobservability</h1>
        
        <div id="workersList">
            {{template "nodes.html" .}}
        </div>
    </div>

    <script>
        function toggleNode(nodeName, buttonElement) {
            const detailsElement = document.getElementById(`details-${nodeName}`);
            const isOpen = detailsElement.classList.contains('open');
            
            if (isOpen) {
                detailsElement.classList.remove('open');
                buttonElement.classList.remove('active');
            } else {
                detailsElement.classList.add('open');
                buttonElement.classList.add('active');
            }
        }
    </script>
</body>
</html>