{{if .}}
<div class="stat-row">
    <span class="label">CPU</span>
    <span class="values">
        <span>u:{{.CPU.User}}%</span> 
        <span>k:{{.CPU.Kernel}}%</span> 
        <span>total:{{.CPU.Total}}%</span>
    </span>
</div>

<div class="stat-row">
    <span class="label">MEM</span>
    <span class="values">
        <span>u:{{.Memory.User}}%</span> 
        <span>k:{{.Memory.Kernel}}%</span> 
        <span>total:{{.Memory.Total}}%</span>
    </span>
</div>

<div class="stat-row">
    <span class="label">NET</span>
    <span class="values">
        <span>in:{{.Network.In}}MB/s</span> 
        <span>out:{{.Network.Out}}MB/s</span> 
        <span>total:{{.Network.Total}}MB/s</span>
    </span>
</div>

<div class="stat-row">
    <span class="label">DISK</span>
    <span class="values">
        <span>r:{{.Disk.Read}}MB/s</span> 
        <span>w:{{.Disk.Write}}MB/s</span> 
        <span>total:{{.Disk.Total}}MB/s</span>
    </span>
</div>
{{else}}
<div class="stat-row">
    <span class="label">CPU</span>
    <span class="values">NULL</span>
</div>

<div class="stat-row">
    <span class="label">MEM</span>
    <span class="values">NULL</span>
</div>

<div class="stat-row">
    <span class="label">NET</span>
    <span class="values">NULL</span>
</div>

<div class="stat-row">
    <span class="label">DISK</span>
    <span class="values">NULL</span>
</div>
{{end}}