apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: gobservability-agent
  namespace: gobservability
  labels:
    app: gobservability-agent
spec:
  selector:
    matchLabels:
      app: gobservability-agent
  template:
    metadata:
      labels:
        app: gobservability-agent
    spec:
      serviceAccountName: gobservability-agent
      hostNetwork: false
      hostPID: true
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: agent
        image: ghcr.io/thomascardin/gobservability-agent
        imagePullPolicy: Always
        args:
        - "./agent"
        - "-grpc-server=gobservability-server:9090"
        - "-interval=5s"
        - "-hostname=$(NODE_NAME)"
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        resources:
          requests:
            memory: "32Mi"
            cpu: "100m"
          limits:
            memory: "64Mi"
            cpu: "200m"
        securityContext:
          privileged: true
        volumeMounts:
        - name: proc
          mountPath: /host/proc
          readOnly: true
        - name: sys
          mountPath: /host/sys
          readOnly: true
      volumes:
      - name: proc
        hostPath:
          path: /proc
      - name: sys
        hostPath:
          path: /sys
